[crio]
#Place, where cri-o saves container data, use vars from defaults
root = "{{ cri_o_crio_root }}"
runroot = "{{ cri_o_crio_runroot }}"

[crio.runtime]
cgroup_manager = "systemd"
conmon_cgroup = "pod"

runtime_endpoint = "{{ cri_o_runtime_endpoint }}"

[crio.network]
network_dir = "/etc/cni/net.d"
plugin_dirs = [
    "/opt/cni/bin/",
]

#if in docker - use vfs, if on server - use overlay
[crio.image]
storage_driver = "{{ 'vfs' if ansible_virtualization_type == 'docker' else cri_o_crio_storage_driver }}"

